%unlink {
	text-decoration: none;
}

%unlink-all {
	&,
	&:link,
	&:hover,
	&:visited,
	&:active,
	&:focus {
		text-decoration: none;
	}
}

%unlink-all-anchor {
	@at-root a#{&} {
		&,
		&:link,
		&:hover,
		&:visited,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
}
