@import "global";

html,
body {
	$fixed-body-width: ( 1em * ( $wrapper-fixed-width / $base-text-size ) );

    min-width: $fixed-body-width;
}

.#{$wrapper-name},
.#{$wrapper-name}--wide {
    width: 1em * ($wrapper-max-width / $base-text-size);
}

// `@media` responsive string reset

// Small
$small-screens-min: "all";

// Medium
$medium-screens-min: "all";

// Large
$large-screens-min: "all";
