@use 'sass:string';
@use 'sass:list';
@use 'sass:map';

// String Replacement
@function str-replace($string, $search, $replace: '') {
	$index: string.index($string, $search);

	@if $index {
		@return string.slice($string, 1, $index - 1) + $replace +
			str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
	}

	@return $string;
}

@function camel-case($string) {
	$string: quote(#{$string});
	$progress: $string;
	$result: '';
	$exclude: ' ', '-', '–', '—', '_', ',', ';', ':', '.', '+', '=', '?', '&', '*', '/', '|', '>', '<', '(', ')';
	@while string.length($progress) > 0 {
		$char: string.slice($progress, 1, 1);
		@if list.index($exclude, $char) {
			$progress: capitalize(string.slice($progress, 2, 2)) + string.slice($progress, 3);
		} @else {
			$result: $result + $char;
			$progress: string.slice($progress, 2);
		}
	}
	@return $result;
}

// Map Nested Get
@function map-nested-get($map, $keys...) {
	@each $key in $keys {
		$map: map.get($map, $key);
	}

	@return $map;
}
