@use '~@place/core/functions/placeholders' as placeholder-functions;

@mixin alignment-placeholders($suffix: null) {
	$s: placeholder-functions.get-suffix($suffix);

	// Text alignment placeholders
    // TODO: block / end
	%text-start#{$s} {
		text-align: start;
	}

	%text-center#{$s} {
		text-align: center;
	}

	%text-end#{$s} {
		text-align: end;
	}

	%text-justify#{$s} {
		text-align: justify;
	}
}