@use '~@place/core/functions/placeholders' as placeholder-functions;

@mixin display-placeholders($suffix: null) {
	$s: placeholder-functions.get-suffix($suffix);

	// Display
	%inline-block#{$s} {
		display: inline-block;
	}

	%display-block#{$s} {
		display: block;
	}
}