@use '~@place/core/functions/placeholders' as placeholder-functions;

@mixin position-placeholders($suffix: null) {
	$s: placeholder-functions.get-suffix($suffix);

	// Container Positioning
	%relative-container#{$s} {
		position: relative;
	}

	%absolute-container#{$s} {
		position: absolute;
	}
}