@use '~@place/core/functions/placeholders' as placeholder-functions;

@mixin sizing-placeholders($suffix: null) {
	$s: placeholder-functions.get-suffix($suffix);

	// Full Width
	%full-width#{$s} {
		width: 100%;
	}

	%full-width-important#{$s} {
		width: 100% !important;
	}

	%full-height#{$s} {
		height: 100%;
	}

	%full-height-important#{$s} {
		height: 100% !important;
	}
}