// Default Grid
// * Set to `true` to utilize the default grid with floats. 
// * Recommended.
$default-grid: true !default;

// CSS Grid
// * Set to `true` to utilize css grid. By default, quick grid classes are created, and placeholder classes are created to extend within your file(s).
// * Recommended.
$css-grid: true !default;

// Grid Flex
// * Set to `true` to have the option of flex grids.

$flex-grid: true !default;

// Grid IE Fallback
// * Set to `true` to have css grid and flex fallback for Edge and older IE versions dating back to IE9. 
// * Recommended. Use your `$grid-lte9-class` on your `html` element. Edge is targeted through `supports`.

$grid-ie-fallback: false !default;

// Grid Offset
// * Set to `true` to have offset "margin-left" grid classes.

$offset-grid: true !default;

// Viewport Helpers
// * Set to `true` to have specific viewport utility classes, such as `is-hidden-lg` to hide something in a large viewport, or `float-left-sm` to float left only in a small viewport.

$viewport-helpers: true !default;

// Flex Helpers
// * Set to `true` to have flex helpers for `display:flex` or `flex-grow`.

$flex-helpers: true !default;

// Spacing Helpers
// * Set to `true` to have spacing helpers to quickly add margin or padding to an element. 
// * Recommended, at least at the beginning of a project.

$spacing-helpers: true !default;

// Type Viewport Helpers
// * Set to `true` to have viewport helpers for each size. Typically used to downscale a larger font.
// * Default map is for mobile and tablet up.

$type-viewport-helpers: false !default;

// Type Color Helpers
// * Set to `true` to activate helper classes like `white-text` from the map `type-quick-colors`.

$type-color-helpers: true !default;
