// Button Class Name
// * Only applicable if the button baseline activation is active.
$button-class-prefix: "btn" !default;

// Button Padding
$button-vertical-padding: 10 !default;
$button-side-padding: 20 !default;
