// Blacks
$black: #000 !default;
$light-black: lighten($black, 15%) !default;

// Greys
$grey: #a9a6a7 !default;
$dark-grey: darken($grey, 15%) !default;
$light-grey: lighten($grey, 15%) !default;

// Blues
$blue: #1f75ae !default;
$dark-blue: darken($blue, 15%) !default;
$light-blue: lighten($blue, 15%) !default;

// Greens
$green: #72bc44 !default;
$dark-green: darken($green, 15%) !default;
$light-green: lighten($green, 15%) !default;

// Yellows
$yellow: #fcb040 !default;
$dark-yellow: darken($yellow, 15%) !default;
$light-yellow: lighten($yellow, 15%) !default;

// Oranges
$orange: #f79433 !default;
$dark-orange: darken($orange, 15%) !default;
$light-orange: lighten($orange, 15%) !default;

// Reds
$red: #e63c4d !default;
$dark-red: darken($red, 15%) !default;
$light-red: lighten($red, 15%) !default;

// Pinks
$pink: #f37b83 !default;
$dark-pink: darken($pink, 15%) !default;
$light-pink: lighten($pink, 15%) !default;

// Purples
$purple: #a05ea5 !default;
$dark-purple: darken($purple, 15%) !default;
$light-purple: lighten($purple, 15%) !default;

// Whites
$white: #fff !default;
$dark-white: darken($white, 15%) !default;

// Brand Colors
$facebook-blue: #3b5998 !default;
$linkedin-blue: #0077b5 !default;
$twitter-blue: #00a0d1 !default;
$pinterest-red: #c92228 !default;
$youtube-red: #bb0000 !default;
$reddit-orange: #ff5700 !default;

// Site Color Variables
$primary-color: #45b3af !default;
$secondary-color: #196966 !default;
$tertiary-color: #a9a6a7 !default;
$quarternary-color: #c0e5e4 !default;
//$quinary-color: -- !default;

// Link Color Variables
$primary-link-color: $primary-color !default;
$primary-link-hover: darken($primary-link-color, 15%) !default;

// Table Color Variables
$table-border-color: $light-grey !default;

// Type Colors
$primary-text-color: $light-black !default;
$secondary-text-color: $dark-grey !default;
$inverse-text-color: $white !default;
