// Form Variables
$input-border: $default-border-width;
$input-border-radius: $default-border-radius;
$input-background-color: $white;
$input-border-color: $light-grey;
$input-placeholder-color: $light-grey;
$label-required-color: $blue;
$input-top-padding: 8;
$input-side-padding: 12;