// Identifiers & Modifiers
// * Aim to use identifiers and modifiers that will not conflict within a typical project.

// Grid Base Classes
$grid-row-identifier: "row" !default;
$grid-column-identifier: "col" !default;
$grid-offset-identifier: "os" !default;
$css-grid-identifier: "grid" !default;

// // Grid Viewport Variables
// $grid-viewport-desktop-identifier: "lg" !default;
// $grid-viewport-tablet-identifier: "md" !default;
// $grid-viewport-mobile-identifier: "sm" !default;

// Grid Modifier Classes
$grid-flex-modifier: "flex" !default;
$grid-flex-flush-modifier: "flush" !default;
$grid-ltr-modifier: "ltr" !default;
$grid-rtl-modifier: "rtl" !default;
$grid-full-modifier: "full" !default;
$grid-gap-modifier: "gapped" !default;

// Grid Fallback Variables
$grid-lte9-class: "lte9";

// Large Column
$large-margin: 24 !default;
$large-columns: 12 !default;

// Medium Column
$medium-margin: 20 !default;
$medium-columns: 9 !default;

// Small Column
$small-margin: 16 !default;
$small-columns: 4 !default;

// Establish baseline
$base-margin: $large-margin;

// Combined List
$margin-column-set: (
	$viewport-small-identifier: (
		margin: $small-margin,
		columns: $small-columns
	),
	$viewport-medium-identifier: (
		margin: $medium-margin,
		columns: $medium-columns
	),
	$viewport-large-identifier: (
		margin: $large-margin,
		columns: $large-columns
	)
);

// CSS Grid
// Don't use `fr` units with thoughts to fallbacks.
$css-grid-max-rows: 12 !default;
$css-grid-gap: ($base-margin * 3) !default;

// Quick Grid Map
// * Utilized with CSS grid to get a quick layout from applying the class to the container.
$quick-grid-map: (
	quarters: 4,
	thirds: 3,
	halves: 2
) !default;

// Extended Width Map
// * Extends widths to quick classes, so you can use `third` in addition to `1of3` if desired.
$quick-grid-widths: (
	fifth: 1/5,
	three-quarters: 3/4,
	quarter: 1/4,
	third: 1/3,
	two-thirds: 2/3,
	half: 1/2
) !default;
