// Typographic Scale
$type-scale: (
    inch-text: 72,
	canon-text: 38,
	paragon-text: 30,
	primer-text: 24,
	tertia-text: 18,
	normal-text: 14,
	petite-text: 12,
	minion-text: 10
);

// Typographic Weights
$type-weights: (
	light: 300,
	normal: 400,
	semibold: 600,
	bold: 700
);

// WYSWIYG (Blog) Scale
$wysiwyg-scale: (
	canon-text,
	paragon-text,
	primer-text,
	normal-text,
	petite-text,
	minion-text
);

// Helper Breakpoint Suffixes
$helper-breakpoint-suffix: (
	#{$small-screens-max}: 'sm',
	#{$medium-screens-only}: 'md',
	#{$large-screens-min}: 'lg'
);

// Fraction Map
$fraction-map: (
	quarter: 4,
	third: 3,
	half: 2
);

// Nested Selectors (so we don't have to use the * selector)
$nested-selectors: (
	section,
	li,
	div
);

// Vertical Rhythm Map
$rhythm-map: $fraction-map;

// Quick Grid Map
$quick-grid-map: (
	quarters: 4,
	thirds: 3,
	halves: 2
);

// Quick Width Map
$grid-widths: (
	fifth: 1/5,
	three-quarters: 3/4,
	quarter: 1/4,
	third: 1/3,
	two-thirds: 2/3,
	half: 1/2
);

// Input Static Width Map
$input-static-widths: (
    xxxs: 30,
    xxs: 50,
    xs: 100,
    s: 175,
    m: 250,
    l: 350
);