// Grid Name Variables
$grid-prefix: "g";
$grid-column-infix: "c";
$grid-column-prefix: "#{$grid-prefix}#{$grid-column-infix}";

$grid-viewport-desktop-infix: 'd';
$grid-viewport-tablet-infix: 't';
$grid-viewport-mobile-infix: 'm';

$grid-row-suffix: 'row';
$grid-flex-suffix: 'flex';
$grid-flush-suffix: 'flush';

// Container Name Variables
$wrapper-class: 'container';