// Responsive Breakpoints
$bp-small-width: 480 !default;
$bp-medium-width: 768 !default;
$bp-large-width: 992 !default;
$bp-x-large-width: 1240 !default;

// Wrapper Variables
$wrapper-width: 92 !default;
$wrapper-name: "container" !default;

// Wrapper Variable
$wrapper-max-width: $bp-large-width !default;
$wrapper-wide-max-width: $bp-x-large-width !default;
$wrapper-fixed-width: $bp-large-width !default;

// Base Content Width
// * To be used in conjunction with the golden ratio for default line-height values.
$base-content-width: 670;