// Font Declarations
$stack-serif: "Times New Roman", Times, Georgia, serif !default;
$stack-sans-serif: Helvetica, Arial, "Arial Unicode", "Lucida Sans Unicode", sans-serif !default;
$stack-slab-serif: "Courier New", Courier, serif !default;
$stack-mono: Courier, monospace !default;
$stack-icons: "icons" !default;

// Font Declarations
$primary-font: $stack-sans-serif !default;
$secondary-font: $stack-sans-serif !default;
$body-font: $primary-font !default;
$body-font-fallback: $stack-sans-serif !default;
$heading-font: $primary-font !default;
$print-font: $stack-sans-serif !default;

// @font-face Display
$font-face-display: fallback !default;

// Baseline Typography
$base-text-size: map-get($type-scale, normal-text) !default;

// Button Sizes
$small-button-text-size: map-get($type-scale, petite-text) !default;
$large-button-text-size: map-get($type-scale, tertia-text) !default;

// Line Height
$round-to-nearest: map-get($rhythm-map, quarter) !default;

// Line Height
$long-line-height: 1.75 !default;

// Vertical Rhythm
$base-vertical: 20 !default;