// Horizontal Margins

$full-side: 1em * (($base-margin / 2) / $base-text-size) !default;
$half-side: 1em * (($base-margin / 4) / $base-text-size) !default;
$quarter-side: 1em * (($base-margin / 8) / $base-text-size) !default;
$double-side: 1em * ($base-margin / $base-text-size) !default;

// Horizontal Margins Minus Border

$full-side-bordered: 1em *
    ((($base-margin / 2) - $default-border-width) / $base-text-size) !default;
$half-side-bordered: 1em *
    ((($base-margin / 4) - $default-border-width) / $base-text-size) !default;
$quarter-side-bordered: 1em *
    ((($base-margin / 8) - $default-border-width) / $base-text-size) !default;
$double-side-bordered: 1em *
    (($base-margin - $default-border-width) / $base-text-size) !default;

// Vertical Margins

$full-vertical: 1em * ($base-vertical / $base-text-size) !default;
$half-vertical: 1em * (($base-vertical / 2) / $base-text-size) !default;
$quarter-vertical: 1em * (($base-vertical / 4) / $base-text-size) !default;
$eighth-vertical: 1em * (($base-vertical / 8) / $base-text-size) !default;
$double-vertical: 1em * (($base-vertical * 2) / $base-text-size) !default;

// Vertical Margins Minus Border

$full-vertical-bordered: 1em *
    (($base-vertical - $default-border-width) / $base-text-size) !default;
$half-vertical-bordered: 1em *
    ((($base-vertical / 2) - $default-border-width) / $base-text-size) !default;
$quarter-vertical-bordered: 1em *
    ((($base-vertical / 4) - $default-border-width) / $base-text-size) !default;
$double-vertical-bordered: 1em *
    ((($base-vertical * 2) - $default-border-width) / $base-text-size) !default;
