@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot');
	src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
		url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
		url('<%= fontPath %><%= fontName %>.woff') format('woff'),
		url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
		url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

@mixin icon-styles {
	font-family: "<%= fontName %>";
	font-style: normal;
	font-variant: normal;
	font-size: 1.5em;
	font-weight: normal;
	line-height: 1;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	text-transform: none;
	speak: none;
    vertical-align: middle;
    white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="icon--"]:before,
[class*="pre-icon--"]:before,
[class*="post-icon--"]:after {
	@include icon-styles;
}

[class*="pre-icon--"]:before {
	padding-right: px(5);
}

[class*="post-icon--"]:after {
	padding-left: px(5);
}

@mixin icon-char($filename) {
	<% _.each(glyphs, function(glyph) { %>
		@if <%= glyph.fileName %> == $filename {
			content: "\<%= glyph.codePoint %>";
		}
	<% }); %>
}


<% _.each(glyphs, function(glyph) { %>
.icon--<%= glyph.fileName %>:before,
.pre-icon--<%= glyph.fileName %>:before,
.post-icon--<%= glyph.fileName %>:after {
	@include icon-char(<%= glyph.fileName %>);
}

<% }); %>