/*! 

Buttons

* The default button styles for every button on the site. The base `.btn` style is devoid of any coloring, allowing either the primary, secondary, or classes you create further color the button.

*/

@if $button-baseline {
    [class*="#{$button-class-prefix}"] {
        // Variables
        $button-vertical: 1em * ($button-vertical-padding / $base-text-size);
        $button-side: 1em * ($button-side-padding / $base-text-size);

        // Baseline
        width: auto;
        height: auto;
        margin: 0;
        line-height: normal;
        text-align: center;
        text-decoration: none;
        position: relative;
        appearance: none;
        background-clip: padding-box;
        outline: 0;
        border: none;
        overflow: visible;
        cursor: pointer;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        padding: $button-vertical $button-side;

        @include margin-leader();
    }
}


