/*! 

Buttons

* The default button styles for every button on the site. The base `.btn` style is devoid of any coloring, allowing either the primary, secondary, or classes you create further color the button.

*/

[class*="btn"] {

    // Baseline
    width: auto;
    height: auto;
    margin: 0;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    position: relative;
    -webkit-appearance: none;
    -webkit-background-clip: padding;
       -moz-background-clip: padding;
            background-clip: padding-box;
    outline: 0;
    border: none;
    overflow: visible;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    text-align: center; 
    padding: $half-vertical $full-side;
    
    @include margin-leader();
}

// Btn Sizes

.btn--tiny,
.btn--small {
    @include type-size( $small-button-text-size );
}

.btn--large {
    @include type-size( $large-button-text-size );
}

.btn--tiny {
    padding: $quarter-vertical $half-side;
}

.btn--full { 
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}