/*!

Link Styles

*/

a,
.link {
	color: $primary-link-color;

	&:hover,
	&:focus {
		color: $primary-link-hover;
	}
}

.unlink {
	text-decoration: none;
}

.unlink-all {

	&,
	&:hover,
	&:focus {
		@extend .unlink;
	}
}
