// Template Class Creation
@function template-class(
	$pattern,
	$base: null,
	$viewport: null,
	$modifier: null,
	$partial: null,
	$total: null
) {
	$class: $pattern;

	$template-map: (
		'B': $base,
		'V': $viewport,
		'M': $modifier,
		'P': $partial,
		'T': $total
	);

	@each $key, $value in $template-map {
		@if $value != null {
			@if (str-index($class, $key)) {
				$class: str-replace($class, $key, $value);
			}
		}
	}

	@return $class;
}
