@function viewport-variable-min($identifier) {
	@return "--mq-#{$identifier}-min";
}

@function viewport-variable-max($identifier) {
	@return "--mq-#{$identifier}-max";
}

@function viewport-width($identifier) {
	@return map-get($responsive-breakpoints, $identifier);
}

@function viewport-range($identifier, $min: false, $max: false, $only: false) {
	$breakpoint-value: viewport-width($identifier);
	$breakpoint-index: index(
		$responsive-breakpoints,
		$identifier $breakpoint-value
	);
	$prefix-str: "all and ";

	@if $min {
		@return "#{$prefix-str}(min-width: #{viewport-value-min($breakpoint-value)})";
	} @else if $max {
		@return "#{$prefix-str}(max-width: #{viewport-value-max($breakpoint-value)})";
	} @else if $only {
		$neighboring-index: $breakpoint-index + 1;
		$neighboring-breakpoint-value: nth(
			map-values($responsive-breakpoints),
			$neighboring-index
		);

		@return "#{$prefix-str}(min-width: #{viewport-value-min($breakpoint-value)}) and (max-width: #{viewport-value-max($neighboring-breakpoint-value)})";
	}
}

// TODO: Operate off of base font size instead of 16?
@function viewport-value-min($breakpoint-value) {
	@return (1em * ($breakpoint-value / 16));
}

@function viewport-value-max($breakpoint-value) {
	@return (1em * (($breakpoint-value - 1) / 16));
}
