// Math
@use 'sass:math';

// Configuration
@use '~@place/core/config/structure' as *;

/*!

Container

* These main classes to wrap content on your site and keep it centered.


*/


.#{$wrapper-name},
.#{$wrapper-name}-wide,
.#{$wrapper-name}-fluid {
	margin-inline: auto;

	width: calc(var(--wrapper-width) * 1%);
}

.#{$wrapper-name} {
	max-width: calc(1px * var(--wrapper-max-width));
}

.#{$wrapper-name}-wide {
	max-width: calc(1px * var(--wrapper-wide-max-width));
}

