// Wrapper Variables
$wrapper-width: 92 !default;
$wrapper-name: 'wrapper' !default;
$wrapper-max-width: 960 !default;
$wrapper-wide-max-width: 1100 !default;

// Base Content Width
// * To be used in conjunction with the golden ratio for default line-height values.
$base-content-width: 960;
