@use 'sass:map';
@use '~@place/core/functions/viewports' as viewport-functions;
@use 'viewport-base' as *;

// Small
$small-screens-min: viewport-functions.viewport-range($viewport-small-identifier, $min: true) !default;
$small-screens-max: viewport-functions.viewport-range($viewport-medium-identifier, $max: true) !default;
$small-screens-only: viewport-functions.viewport-range($viewport-small-identifier, $only: true) !default;

// Medium
$medium-screens-min: viewport-functions.viewport-range($viewport-medium-identifier, $min: true) !default;
$medium-screens-max: viewport-functions.viewport-range($viewport-large-identifier, $max: true) !default;
$medium-screens-only: viewport-functions.viewport-range($viewport-medium-identifier, $only: true) !default;

// Large
$large-screens-min: viewport-functions.viewport-range($viewport-large-identifier, $min: true) !default;
$large-screens-max: viewport-functions.viewport-range($viewport-x-large-identifier, $max: true) !default;
$large-screens-only: viewport-functions.viewport-range($viewport-large-identifier, $only: true) !default;

// Extra Large
$x-large-screens-min: viewport-functions.viewport-range($viewport-x-large-identifier, $min: true) !default;

// Default Viewport List
$viewport-list: (
	$viewport-small-identifier: #{$small-screens-max},
	$viewport-medium-identifier: #{$medium-screens-only},
	$viewport-large-identifier: #{$large-screens-min}
);

// All viewport identifiers (extracted from viewport-list keys)
$viewport-keys: map.keys($viewport-list) !default;

// Type Helper Breakpoint Suffixes
// * Used for specific sizes in these viewports.
$type-helper-breakpoints: (
	$viewport-small-identifier: #{$small-screens-max},
	$viewport-medium-identifier: #{$medium-screens-min}
) !default;

// Helper Breakpoint Suffixes
// * Global breakpoint suffixes attached to the corresponding viewport.
$helper-breakpoints: $viewport-list !default;
