// Font Family 
.primary-font {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}

// Font Styles
@each $weight, $value in $type-weights {
    .#{$weight}-weight {
        @if $weight == bold {
            @extend strong;
        } @else {
            font-weight: $value;
        }
    }
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.75em;
    font-weight: normal;
    font-family: $heading-font;
}

// Heading Types

.primary-heading,
.secondary-heading,
.tertiary-heading {
    @extend .semibold-weight;
}

.primary-heading {
    @extend [class*="#{$primary-heading-size}"];
    color: $primary-color;
}

.secondary-heading  {
    @extend [class*="#{$secondary-heading-size}"];
    color: $secondary-color;
}

.tertiary-heading {
    color: $tertiary-color;
}

body,
.body-text {
    // Extends
    @extend %normal-text;

    // Styles
    font-family: $body-font;
}

/*

Unstyled List

A basic stripping of list styles.

*/

.list--unstyled {
    @include unstyled-list();
}
