// Font Family
.primary-font {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}

// Case Helpers
.lowercase-text {
    text-transform: lowercase;
}

.normal-text {
    text-transform: none;
}

.uppercase-text {
    text-transform: uppercase;
}

// Font Styles
// * Create font weight classes based on the map.
@each $weight, $value in $type-weights {
    .#{$weight}-weight {
        @if $weight == bold {
            @extend strong;
        } @else {
            @extend %#{$weight}-weight;
        }
    }
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.75em;
    font-weight: normal;
    font-family: $heading-font;
}

body,
.body-text {
    // Extends
    @extend %normal-text;

    // Style
    font-family: $body-font;
    color: $primary-text-color;
}
