// Font Family 
.primary-font {
    font-family: $primary-font;
}

.secondary-font {
    font-family: $secondary-font;
}

// Font Styles
@each $weight, $value in $type-weights {
    .#{$weight}-weight {
        @if $weight == bold {
            @extend strong;
        } @else {
            font-weight: $value;
        }
    }
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.75em;
    font-weight: normal;
    font-family: $heading-font;
}

// Heading Types

.primary-heading,
.secondary-heading,
.tertiary-heading {
    @extend .semibold-weight;
}

.primary-heading {
    @extend [class*="#{$primary-heading-size}"];
    color: $primary-color;
}

.secondary-heading  {
    @extend [class*="#{$secondary-heading-size}"];
    color: $secondary-color;
}

.tertiary-heading {
    color: $tertiary-color;
}

/*

Body Text

Another type style, but this mimicks the default body text of the site.

````body-text
<p>This is a paragraph of text. Some of the text may be <em>emphasised</em> and some it might even be <strong>strongly emphasised</strong>. Occasionally <q>quoted text</q> may be found within a paragraph &hellip;and of course <a href="#">a link</a> may appear at any point in the text. The average paragraph contains five or six sentences although some may contain as little or one or two while others carry on for anything up to ten sentences and beyond.</p>
````

*/

body,
.body-text {
    // Extends
    @extend %normal-text;

    // Styles
    font-family: $body-font;
}

/*

Unstyled List

A basic stripping of list styles.

*/

.list--unstyled {
    @include unstyled-list();
}
