// Cubic-Bezier
// * https://matthewlein.com/tools/ceaser

$ease-in: (
    circ: cubic-bezier(0.6, 0.04, 0.98, 0.335),
    expo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
    quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
    quart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
    quint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
    sine: cubic-bezier(0.47, 0, 0.745, 0.715),
    back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
);

$ease-out: (
    circ: cubic-bezier(0.075, 0.82, 0.165, 1),
    expo: cubic-bezier(0.19, 1, 0.22, 1),
    quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
    quart: cubic-bezier(0.165, 0.84, 0.44, 1),
    quint: cubic-bezier(0.23, 1, 0.32, 1),
    sine: cubic-bezier(0.39, 0.575, 0.565, 1),
    back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
);

$ease-in-out: (
    circ: cubic-bezier(0.785, 0.135, 0.15, 0.86),
    expo: cubic-bezier(1, 0, 0, 1),
    quad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
    quart: cubic-bezier(0.77, 0, 0.175, 1),
    quint: cubic-bezier(0.86, 0, 0.07, 1),
    sine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
    back: cubic-bezier(0.68, -0.55, 0.265, 1.55),
);

// Create placeholder ease-in classes

@each $type, $transition in $ease-in {
    %ease-in-#{$type} {
        transition: all $transition;
    }
}

// Create placeholder ease-out classes

@each $type, $transition in $ease-out {
    %ease-out-#{$type} {
        transition: all $transition;
    }
}

// Create placeholder ease-in-out classes

@each $type, $transition in $ease-in-out {
    %ease-in-out-#{$type} {
        transition: all $transition;
    }
}
