/*!

Cubic-bezier easing variables

https://matthewlein.com/tools/ceaser

*/

$ease-in: (
	circ: cubic-bezier(0.600, 0.040, 0.980, 0.335),
	expo: cubic-bezier(0.950, 0.050, 0.795, 0.035),
	quad: cubic-bezier(0.550, 0.085, 0.680, 0.530),
	quart: cubic-bezier(0.895, 0.030, 0.685, 0.220),
	quint: cubic-bezier(0.755, 0.050, 0.855, 0.060),
	sine: cubic-bezier(0.470, 0.000, 0.745, 0.715),
	back: cubic-bezier(0.600, -0.280, 0.735, 0.045)
);

$ease-out: (
	circ: cubic-bezier(0.075, 0.820, 0.165, 1.000),
	expo: cubic-bezier(0.190, 1.000, 0.220, 1.000),
	quad: cubic-bezier(0.250, 0.460, 0.450, 0.940),
	quart: cubic-bezier(0.165, 0.840, 0.440, 1.000),
	quint: cubic-bezier(0.230, 1.000, 0.320, 1.000),
	sine: cubic-bezier(0.390, 0.575, 0.565, 1.000),
	back: cubic-bezier(0.175,  0.885, 0.320, 1.275)
);

$ease-in-out: (
	circ: cubic-bezier(0.785, 0.135, 0.150, 0.860),
	expo: cubic-bezier(1.000, 0.000, 0.000, 1.000),
	quad: cubic-bezier(0.455, 0.030, 0.515, 0.955),
	quart: cubic-bezier(0.770, 0.000, 0.175, 1.000),
	quint: cubic-bezier(0.860, 0.000, 0.070, 1.000),
	sine: cubic-bezier(0.445, 0.050, 0.550, 0.950),
	back: cubic-bezier(0.680, -0.550, 0.265, 1.550)
);

// Create placeholder ease-in classes

@each $type, $transition in $ease-in {
	%ease-in-#{$type} {
		transition: $transition;
	}
}

// Create placeholder ease-out classes

@each $type, $transition in $ease-out {
	%ease-out-#{$type} {
		transition: $transition;
	}
}

// Create placeholder ease-in-out classes

@each $type, $transition in $ease-in-out {
	%ease-in-out-#{$type} {
		transition: $transition;
	}
}

/*!

Transitions

Insert transitions here.

If you want to utilize a `cubic-bezier` transition, simply extend the placeholder class.

For example, if you wanted `ease-in-out` with `expo`, write `@extend %ease-in-out-expo` to apply the transition.

*/



