// Math
@use 'sass:math';

/*!

Container

* These main classes to wrap content on your site and keep it centered.

*/

.#{$wrapper-name},
.#{$wrapper-name}-wide,
.#{$wrapper-name}-fluid {
	// width: percentage($wrapper-width / 100);
	margin-left: auto;
	margin-right: auto;
}

.#{$wrapper-name}-wide {
	//max-width: 1em * ($wrapper-wide-max-width / $base-text-size);
	max-width: 1em * math.div($wrapper-wide-max-width, $base-text-size);
}

.#{$wrapper-name} {
	//max-width: 1em * ($wrapper-max-width / $base-text-size);
	max-width: 1em * math.div($wrapper-max-width, $base-text-size);
}
