/*! 

Tables

* Responsive tables, using data attributes to display the same data in a different format in smaller viewports.
* http://codepen.io/aarongustafson/pen/ucJGv

````
<table>
    <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-th="Company">1</td>
            <td data-th="First Name">April</td>
            <td data-th="Last Name">Collins</td>
            <td data-th="Number">59</td>
        </tr>
        <tr>
            <td data-th="Company">2</td>
            <td data-th="First Name">Jon</td>
            <td data-th="Last Name">Snow</td>
            <td data-th="Number">134</td>
        </tr>
        <tr>
            <td data-th="Company">3</td>
            <td data-th="First Name">Brandon</td>
            <td data-th="Last Name">Turley</td>
            <td data-th="Number">67</td>
        </tr>
    </tbody>
</table>
````
*/

table {
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

@if $auto-responsive-tables {
  th,
  td {
    padding: $half-vertical $half-side;
    text-align: left;
  }

  @media #{$small-screens-max} {
    table {
      display: block;
      width: 100%;
    }

    tbody,
    tr,
    th,
    td {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }
    thead {
      display: none;
      visibility: hidden;
    }
    tr {
      @include margin-leader();
    }
    td[data-th] {
      &:before {
        content: attr(data-th) ":\00A0";
        display: inline-block;
        font-weight: bold;
      }
      &:empty {
        display: none;
      }
    }
  }

  @media #{$medium-screens-min} {
    th,
    td {
      padding: $half-vertical $full-side;
    }
  }
}
