/*!

Alignment

These can be added to individual elements or on parent elements to adjust the content inside.

*/

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-sub {
    vertical-align: sub;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

/*!

Floats

Like it sounds.

*/

.float-left {
    float:left;
}

.float-center {
    margin-left: auto;
    margin-right: auto;
}

.float-right {
    float:right;
}

.float-none {
    float:none;
}

.clear {
    clear: both;
}

/*!

New Line

Applies `display:block;` to apply a new line.

*/

.new-line {
    display: block;
}

/*!

Group

When you may not need a grid, but need your (clear)fix.

*/

.group {
    @include clearfix();
}

/*!

Hides and Unhides

Hides content while making it accessible to screen readers.

*/

.is-hidden {
    @include visually-hidden();
}

.isnt-hidden {

    /* Mixins */
    @include show-hidden();
}

/*!

 Position

 Set the position on an element.

 */

.relative-container {
    position: relative;
}

.absolute-container {
    position: absolute;
}

/*!

Flex Helpers

Misc. flex helpers along with justify, for justifying the content inside the element.

*/

@if flex-helpers {
    .flex-display {
        display: flex;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .justify-start {
        justify-content: flex-start;
    }

    .justify-end {
        justify-content: flex-end;
    }

    .justify-center {
        justify-content: center;
    }

    .justify-space-around {
        justify-content: space-around;
    }

    .justify-space-between {
        justify-content: space-between;
    }
}


/*!

Media Query Helpers

*/

@if $viewport-helpers {
    @each $breakpoint, $suffix in $helper-breakpoint-suffix {
        @media #{$breakpoint} {
            // Hides
            .is-hidden--#{$suffix} {
                @include visually-hidden();
            }

            // Alignment
            .align-left--#{$suffix} {
                text-align: left;
            }

            .align-center--#{$suffix} {
                text-align: center;
            }

            .align-right--#{$suffix} {
                text-align: right;
            }

            // Floats
            .float-left--#{$suffix} {
                float:left;
            }

            .float-center--#{$suffix} {
                margin-left: auto;
                margin-right: auto;
            }

            .float-right--#{$suffix} {
                float:right;
            }

            // Flex 

            @if flex-helpers {
                .flex-display--#{$suffix} {
                    display: flex;
                }

                .flex-grow--#{$suffix} {
                    flex-grow: 1;
                }
                
                .justify-start--#{$suffix} {
                    justify-content: start;
                }

                .justify-end--#{$suffix} {
                    justify-content: end;
                }

                .justify-center--#{$suffix} {
                    justify-content: center;
                }

                .justify-space-around--#{$suffix} {
                    justify-content: space-around;
                }

                .justify-space-between--#{$suffix} {
                    justify-content: space-between;
                }
            }
        } 
    }
}