// Animation
// * Animation mixin for creating CSS animations. `null` values are optional.
@mixin animation(
    $name,
    $duration,
    $timing-function: null,
    $delay: null,
    $direction: null,
    $iteration: null,
    $fill-mode: null,
    $play-state: infinite
) {
    animation: $name $duration $timing-function $delay $direction $iteration
        $fill-mode $play-state;
}

// Keyframes
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}
