@mixin background-linear-gradient($stop1: 0   ,   $color1: #AAA, 
                            $stop2: 100% ,   $color2: #BBB ) {
    background: $color2;
    background: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2);
    background: -webkit-gradient(linear, left top, left bottom, color-stop($stop1,$color1), color-stop($stop2,$color2));
    background: -webkit-linear-gradient(top, $color1 $stop1,$color2 $stop2);
    background: -o-linear-gradient(top, $color1 $stop1,$color2 $stop2);
    background: -ms-linear-gradient(top, $color1 $stop1,$color2 $stop2);
    background: linear-gradient(to bottom, $color1 $stop1,$color2 $stop2);
}


@mixin background-image-linear-gradient($stop1: 0   , $color1: #AAA, 
                                  $stop2: 100% , $color2: #BBB ) 
{
    background-image: -moz-linear-gradient(top, $color1 $stop1, $color2 $stop2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop($stop1,$color1), color-stop($stop2,$color2));
    background-image: -webkit-linear-gradient(top, $color1 $stop1,$color2 $stop2);
    background-image: -o-linear-gradient(top, $color1 $stop1,$color2 $stop2);
    background-image: -ms-linear-gradient(top, $color1 $stop1,$color2 $stop2);
    background-image: linear-gradient(to bottom, $color1 $stop1,$color2 $stop2);
}

@mixin background-image-linear-gradient-three-stops(  $stop1: 0   , $color1: #AAA, 
                                                $stop2: 50% , $color2: #BBB, 
                                                $stop3: 100%, $color3: #CCC ) {
    background-image: -webkit-gradient( linear,
                                        top, bottom, 
                                        color-stop($stop1, $color1), 
                                        color-stop($stop2, $color2), 
                                        color-stop($stop3, $color3)
                                    );
    background-image: -webkit-linear-gradient($color1 $stop1, $color2 $stop2, $color3 $stop3);
    background-image: -moz-linear-gradient(center bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
    background-image: -o-linear-gradient(center bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
    background-image: linear-gradient(center bottom, $color1 $stop1, $color2 $stop2, $color3 $stop3);
}

@mixin background-origin($background-origin: border-box) {
    -webkit-background-origin:  $background-origin;
    -webkit-background-clip:    $background-origin;
    -moz-background-origin:     $background-origin;
    -moz-background-clip:       $background-origin;
    background-origin:          $background-origin;
    background-clip:            $background-origin;
}

@mixin background-linear-gradient-horizontal($stop1: 0, $color1: #AAA, $stop2: 100%, $color2: #BBB) {
    background: $color2; /* Old browsers */
    background: -moz-linear-gradient(left, $color1 $stop1, $color2 $stop2);
    background: -webkit-gradient(linear, left top, right top, color-stop($stop1,$color1), color-stop($stop2,$color2));
    background: -webkit-linear-gradient(left, $color1 $stop1,$color2 $stop2);
    background: -o-linear-gradient(left, $color1 $stop1,$color2 $stop2);
    background: -ms-linear-gradient(left, $color1 $stop1,$color2 $stop2);
    background: linear-gradient(to right, $color1 $stop1,$color2 $stop2);
}
