/*

HTML5 Display Definitions

Set the appropriate `display` definitions for HTML elements.

The majority will be displayed `block`.

*/

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

/*

Audio

From Normalize.css:

> Prevents modern browsers from displaying `audio` without controls.
> Remove excess height in iOS5 devices.

*/

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden] {
	display: none;
}
